<div></div>
    <div class="navbar">
        <h1 class="titleProduct">Ticket de compra</h1>
        <div class="nav">
            <div class="profile"><a href="/profile">Perfil</a></div>
            <div class="cart"><a href="/cart">Carrito</a></div>
        </div>
    </div>

    <div class="cart">
        <h2>ticket ID : {{data._id}}</h2> <br>

        <p> code: {{data.code}} <br>
            fecha de compra: {{data.purchase_datetime}}<br>
            comprador: {{data.purchaser}}<br>
            monto total: {{data.amount}}<br>
        </p>
    </div>
</div>